<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Misuli Subur Perdana</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,800;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- My Icons -->
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- My Style -->
    <link rel="stylesheet" href="../css/aboutUs.css" />
  </head>
  <body>
    <!-- Wrapper for content and footer -->
    <div class="wrapper">
      <!-- Navbar Start -->
      <nav class="navbar">
        <a href="../index.html" class="navbar-logo">Misuli Subur Perdana</a>
        <div class="navbar-nav">
          <a href="service.html">Untuk Perusahaan</a>
          <div class="dropdown">
            <a href="#about">Untuk Pekerja</a>
            <div class="dropdown-menu">
              <a href="lowongan-lapangan.html">Lowongan Lapangan</a>
              <a href="lowongan-office.html">Lowongan Office</a>
            </div>
          </div>
          <div class="dropdown">
            <a href="">Perusahaan Kami</a>
            <div class="dropdown-menu">
              <a href="gallery.html">Gallery</a>
            </div>
          </div>
        </div>
        <div class="navbar-extra">
          <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
        </div>
      </nav>
      <!-- Navbar End -->

      <!-- Hero Section Start -->
      <section class="hero" id="home">
        <main class="content-hero">
          <div class="left-content">
            <h1>Tentang Kami</h1>
            <p>
              Kami adalah perusahaan yang bergerak di bidang pelayanan Jasa Alih
              Daya Pemborongan pekerjaan, penyedia, penempatan tenaga kerja,
              jasa kebersihan, jasa Perawatan dan Pemeliharaan Taman (Cleaning)
              dan jasa pengamanan (SATPAM).
            </p>
          </div>
          <div class="right-content">
            <img src="../img/right-content-aboutUs.jpg" alt="" />
          </div>
        </main>
      </section>
      <!-- Hero Section End -->

      <!-- Vision, Mission, Goal, and Why Choose Us Section Start -->
      <section class="vision-mission-goal">
        <div class="container">
          <div class="card">
            <h3>Our Vision</h3>
            <p>"Menjadi Perusahaan Terkemuka Dalam Bidang Ketenagakerjaan"</p>
          </div>
          <div class="card">
            <h3>Our Mission</h3>
            <p>
              "Menjadi Perusahaan Penyedia Dan Pengelola Tenaga Kerja Yang
              Dihargai Dan Dipercaya Oleh Semua Stakeholders"
            </p>
          </div>
          <div class="card">
            <h3>Our Goal</h3>
            <p>
              "Berusaha memberikan pelayanan dengan mutu terbaik mulai dari
              proses seleksi, perekrutan dan pelatihan untuk mempersiapkan
              tenaga kerja yang berkualitas"
            </p>
          </div>
          <div class="card">
            <h3>Why you choose us?</h3>
            <p>
              Pengalaman dalam mengelola alih daya sejak tahun 2010 yang
              mengedepankan profesionalisme, kinerja yang baik dan mengutamakan
              kepuasan customer. Sistem jasa service yang kami laksanakan
              adalah: Recruitment (Penempatan Tenaga Kerja), Alih daya,
              Pemagangan (LPK).
            </p>
          </div>
        </div>
        <section class="succes-for-future">
          <div class="content-succes">
            <h2>Make Succeess for Future</h2>
            <p>
              Kami Memiliki sumber data base dan jaringan yang luas. Mempunyai
              Team Pengelola yang berpengalaman dan handal. Fokus dalam melayani
              karyawan dan mitra. Kami juga turut melakukan pengawasan dan
              pembinaan terhadap pelaksanaan kinerja sehingga menciptakan tenaga
              kerja yang handal.
            </p>
          </div>
        </section>
  
      </section>
      <!-- Vision, Mission, Goal, and Why Choose Us Section End -->

      
      <section class="certificate">
        <div class="container">
          <div class="sertifikat">
            <h2>Sertifikat ISO 45001</h2>
            <img src="../img/iso-45001.jpg" alt="" />
            <p>Standar Kesehatan dan Keselamatan Kerja</p>
          </div>
          <div class="sertifikat">
            <h2>Sertifikat ISO 9001</h2>
            <img src="../img/iso-9001.jpg" alt="" />
            <p>Standar Sistem dan Manajemen Mutu</p>
          </div>
          <div class="sertifikat">
            <h2>Sertifikat ISO 14001</h2>
            <img src="../img/iso-14001.jpg" alt="" />
            <p>Standar Sistem Manajemen Lingkungan</p>
            <p></p>
          </div>
        </div>
      </section>

      <section class="flow1">
        <div class="recruitment">
          <div class="rec">
            <h1>RECRUITMENT</h1>
          </div>
          <p>
            Dalam operasionalnya melayani Perusahaan - Perusahaan untuk
            penempatan tenaga kerja (Recruitment). Proses pelayanan ini mulai
            dari Penyediaan Tenaga Kerja, test administrasi, test kemampuan,
            test psikologi hingga medical check-up.
          </p>
        </div>
        <div class="alih-daya recruitment">
          <div class="alih rec">
            <h1>JASA ALIH DAYA</h1>
          </div>
          <p>
            Meliputi didalamnya mulai dari Proses Recruitment dan sekaligus
            Pengelolaan Tenaga Kerja (Alih Daya/Outsourcing).
          </p>
        </div>
        <div class="pemagangan">
            <div class="text recruitment">
              <div class="rec">
                <h1>Pemagangan (LPK)</h1>
              </div>
              <p>
                Berdasarkan Permenaker No. 6 Tahun 2020, yang mengatur tentang
                Penyelenggaraan Pemagangan Dalam Negeri. Maka dengan ini LPK
                MISULI adalah Lembaga Pelatihan Kerja yang menyelenggarakan
                Pelatihan dengan Surat Izin Pendirian Lembaga Pelatihan Kerja
                (IPLPK) No. 503/3783/7/IPLPK/IV/DP-MPTSP/2018.
              </p>
            </div>
            <img src="../img/img-flw-magang.png" />
          </div>
        </div>
      </section>

      <section class="flow2">
        <div class="proses-rec">
          <div class="text">
            <h1>Pelaksanaan Recruitment</h1>
            <h2>Teknis Pelaksanaan Recruitment</h2>
            <ol type="a">
              <li>Prosedur rekrutmen PT. Misuli Subur
                Perdana seperti pada alur dibawah ini
                dan PT. Misuli Subur Perdana bersedia
                mengikuti psycotest dan medical check
                up di Perusahaan userjika diperlukan.
              </li>
              <li>PT. Misuli Subur Perdana akan
                menempatkan 1 (satu) orang PIC di
                perusahaan user yang disesuaikan
                dengan jumlah karyawan yang
                ditempatkan. 
              </li>
            </ol>
          </div>
          <div class="img-rec">
            <img src="../img/img-flow-rec.png" alt="">
          </div>
        </div>
        <div class="proses-gaji">
          <div class="text">
            <h1>Pembayaran Gaji dari Klien dan ke Karyawan</h1>
            <p>PT. Misuli Subur Perdana melaksanakan pembayaran gaji kepada karyawan setiap akhir bulan dan atau mengikuti prosedur system pembayaran di perusahaan user. </p>
          </div>
          <div class="img">
            <img src="../img/img-flow-gaji.png" alt="">
          </div>
        </div>
      </section>

      <section class="daftar-mitra">
        <div class="img">
          <img src="../img/daftar-mitra.png" alt="">
        </div>
      </section>

      <!-- Footer Start -->
      <footer>
        <div class="container-footer">
          <div class="footer-section">
            <h3>Address :</h3>
            <p>
              Plaza Metropolitan Blok B AL NO. 7-8<br />Jl Sultan Hasanudin
              Tambun - Bekasi
            </p>
          </div>
          <div class="footer-section">
            <h3>Email :</h3>
            <p>hrd@misulisuburperdana.com<br />misuli_msp@yahoo.co.id</p>
          </div>
          <div class="footer-section">
            <h3>Phone :</h3>
            <p>0819 - 0670 - 7917<br />0813 - 1852 - 2527</p>
          </div>
          <div class="footer-section">
            <h3>Career:</h3>
            <p>
              <a href="#">Klik disini untuk melihat lowongan yang tersedia</a>
            </p>
          </div>
          <div class="footer-logo">
            <img src="../img/logo.png" alt="Misuli" />
          </div>
        </div>
        <div class="footer-bottom">
          <p>&copy; 2024 Misuli Subur Perdana. All rights reserved.</p>
        </div>
      </footer>
      <!-- Footer Ends -->

      <!-- Feather Icons -->
      <script>
        feather.replace();
      </script>

      <!-- My JavaScript -->
      <script src="../js/script.js"></script>
    </div>
  </body>
</html>
