<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Misuli Subur Perdana</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,800;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- My Icons -->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- My Style -->
    <link rel="stylesheet" href="../css/lowongan-lapangan.css" />
  </head>
  <body>
    <!-- Wrapper for content and footer -->
    <nav class="navbar">
      <a href="#" class="navbar-logo">Misuli Subur Perdana</a>

      <div class="navbar-nav">
        <a href="#">Untuk Perusahaan</a>
        <div class="dropdown">
          <a href="#about">Untuk Pekerja</a>
          <div class="dropdown-menu">
            <a href="#"
              >Lowongan Lapangan</a
            >
            <a href="lowongan-office.html">Lowongan Office</a>
          </div>
        </div>
        <div class="dropdown">
          <a href="service.html">Perusahaan Kami</a>
          <div class="dropdown-menu">
            <a href="aboutUs.html">About Us</a>
            <a href="gallery.html">Gallery</a>
          </div>
        </div>
      </div>

      <div class="navbar-extra">
        <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
      </div>
    </nav>
  </header>
    <!-- Navbar End -->

    <!-- Hero Section Start -->
    <div class="container-loker">
      <div class="loker">
        <div class="title-loker">
          <h1>Staff - Admin</h1>
        </div>
        <div class="requirment">
          <div class="sub-title">
            <h2>Requirment</h2>
          </div>
          <ul>
            <li>Pengalaman 1 tahun di posisi yang sama</li>
            <li>Pendidikan Minimal SMA</li>
            <li>Perempuan max umur 30 tahun</li>
            <li>Menguasai Excel(vlookup, average, table, pivot)</li>
            <li>Penempatan Bekasi, marunda dan Surabaya, Asem Rowo</li>
          </ul>
        </div>
        <button><a href="https://bit.ly/Misuli-Subur-Perdana">Apply</a></button>
      </div>
      <div class="loker">
        <div class="title-loker">
          <h1>Staff - Leader</h1>
        </div>
        <div class="requirment">
          <div class="sub-title">
            <h2>Requirment</h2>
          </div>
          <ul>
            <li>
              <p></p>
              Pengalaman 1 tahun di posisi yang sama
            </li>
            <li>Pendidikan Minimal SMA</li>
            <li>Laki-laki max umur 30 tahun</li>
            <li>Menguasai Excel(vlookup, average, table, pivot)</li>
            <li>Penempatan Bekasi, marunda dan Surabaya, Asem Rowo</li>
          </ul>
        </div>
        <button><a href="https://bit.ly/Misuli-Subur-Perdana">Apply</a></button>
      </div>
      <div class="loker">
        <div class="title-loker">
          <h1>Operator Reach Truck/Forklift</h1>
        </div>
        <div class="requirment">
          <div class="sub-title">
            <h2>Requirment</h2>
          </div>
          <ul>
            <li>Pengalaman 1 tahun di posisi yang sama</li>
            <li>Pendidikan Minimal SMA</li>
            <li>Perempuan max umur 30 tahun</li>
            <li>Menguasai Excel(vlookup, average, table, pivot)</li>
            <li>Penempatan Bekasi, marunda dan Surabaya, Asem Rowo</li>
          </ul>
        </div>
        <button>
          <a href="https://bit.ly/Misuli-Subur-Perdana" target="_blank"
            >Apply</a
          >
        </button>
      </div>
    </div>
    <!-- About Section End -->

    <!-- Footer Start -->
    <footer>
      <div class="container-footer">
        <div class="footer-section">
          <h3>Address :</h3>
          <p>
            Plaza Metropolitan Blok B AL NO. 7-8<br />Jl Sultan Hasanudin Tambun
            - Bekasi
          </p>
        </div>
        <div class="footer-section">
          <h3>Email :</h3>
          <p>hrd@misulisuburperdana.com<br />misuli_msp@yahoo.co.id</p>
        </div>
        <div class="footer-section">
          <h3>Phone :</h3>
          <p>0819 - 0670 - 7917<br />0813 - 1852 - 2527</p>
        </div>
        <div class="footer-section">
          <h3>Career:</h3>
          <p>
            <a href="#">Klik disini untuk melihat lowongan yang tersedia</a>
          </p>
        </div>
        <div class="footer-logo">
          <img src="../img/logo.png" alt="Misuli" />
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 Misuli Subur Perdana. All rights reserved.</p>
      </div>
    </footer>
    <!-- Footer Ends -->

    <!-- Feather ICons -->
    <script>
      feather.replace();
    </script>

    <!-- My JavaScript -->
    <script src="..js/script.js"></script>
  </body>
</html>
