<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Misuli Subur Perdana</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,800;1,700&display=swap"
      rel="stylesheet"
    />
    <!-- My Icons -->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- My Style -->
    <link rel="stylesheet" href="../css/service.css" />
  </head>
  <body>
    <!-- Wrapper for content and footer -->
    <header>
      <!-- Navbar Start -->
      <nav class="navbar">
        <a href="../index.html" class="navbar-logo">Misuli Subur Perdana</a>

        <div class="navbar-nav">
          <a href="#">Untuk Perusahaan</a>
          <a href="#about">Untuk Pekerja</a>
          <div class="dropdown">
            <a href="">Perusahaan Kami</a>
            <div class="dropdown-menu">
              <a href="abouUs.html">About Us</a>
              <a href="gallery.html">Gallery</a>
              <a href="">Contact</a>
            </div>
          </div>
        </div>

        <div class="navbar-extra">
          <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
        </div>
      </nav>
    </header>
    <!-- Navbar End -->

    <!-- hero start -->
    <div class="container-hero">
      <div class="text-section">
        <h1>SERVICE</h1>
        <p>
          Sejak berdiri pada tahun 2010, PT. MISULI SUBUR PERDANA telah menjadi
          pemimpin dalam layanan alih daya tenaga kerja. Kami berkomitmen untuk
          menghadirkan profesionalisme tingkat tinggi dan kinerja unggul dalam
          setiap aspek pelayanan kami. Mengutamakan kepuasan mitra adalah
          prioritas utama kami.
        </p>
      </div>
      <div class="image-section">
        <img src="../img/bg-hero-service.jpg" alt="" />
      </div>
    </div>
    <!-- Hero End -->

    <!-- Service Start -->
    <div class="container-service">
      <h1>Our Service</h1>
      <div class="services">
        <div class="service">
          <img src="../img/welding-img.jpg" />
          <h2>Welding</h2>
          <p>Kami menyediakan jasa welding/las yang professional dan teliti</p>
        </div>
        <div class="service">
          <img src="../img/security-img.jpg" />
          <h2>Security Guard</h2>
          <p>
            Kami menyediakan tenaga keamanan yang memiliki sertifikat dan
            terjamin kualitasnya.
          </p>
        </div>
        <div class="service">
          <img src="../img/receptionist-img.jpg" />
          <h2>Receptionist</h2>
          <p>Jasa resepsionis yang memiliki kemampuan komunikasi yang baik.</p>
        </div>
        <div class="service">
          <img src="../img/mechanic-img.jpg" />
          <h2>Mechanic</h2>
          <p>Jasa resepsionis yang memiliki kemampuan komunikasi yang baik.</p>
        </div>
        <div class="service">
          <img src="../img/cleaningservice-img.jpg" />
          <h2>Cleaning Service</h2>
          <p>Jasa resepsionis yang memiliki kemampuan komunikasi yang baik.</p>
        </div>
        <div class="service">
          <img src="../img/driver-img.jpg" />
          <h2>Driver</h2>
          <p>Jasa resepsionis yang memiliki kemampuan komunikasi yang baik.</p>
        </div>
        <div class="service">
          <img src="../img/operator-img.jpg" />
          <h2>Operator</h2>
          <p>Jasa resepsionis yang memiliki kemampuan komunikasi yang baik.</p>
        </div>
      </div>
    </div>
    <!-- Service End -->

    <!-- Footer Start -->
    <footer>
      <div class="container-footer">
        <div class="footer-section">
          <h3>Address :</h3>
          <p>
            Plaza Metropolitan Blok B AL NO. 7-8<br />Jl Sultan Hasanudin Tambun
            - Bekasi
          </p>
        </div>
        <div class="footer-section">
          <h3>Email :</h3>
          <p>hrd@misulisuburperdana.com<br />misuli_msp@yahoo.co.id</p>
        </div>
        <div class="footer-section">
          <h3>Phone :</h3>
          <p>0819 - 0670 - 7917<br />0813 - 1852 - 2527</p>
        </div>
        <div class="footer-section">
          <h3>Career:</h3>
          <p>
            <a href="#">Klik disini untuk melihat lowongan yang tersedia</a>
          </p>
        </div>
        <div class="footer-logo">
          <img src="../img/logo.png" alt="Misuli" />
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 Misuli Subur Perdana. All rights reserved.</p>
      </div>
    </footer>
    <!-- Footer Ends -->

    <!-- Feather ICons -->
    <script>
      feather.replace();
    </script>

    <!-- My JavaScript -->
    <script src="../js/script.js"></script>
  </body>
</html>
